#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Soloway
Name[en_US]=Soloway
Comment=Listen internet streams
Comment[en_US.utf8]=
GenericName[en_US.utf8]=Listen internet streams
Exec=soloway
Icon=eagle
Type=Application
Terminal=false
StartupNotify=true
Categories=Player;Audio;Network;
